---
import Layout from '../../layouts/Layout.astro'
import { SignUpForm } from '../../component/Auth/SignUp.tsx'
---

<Layout>
  <div class='flex justify-center my-40'>
    <SignUpForm client:load />
  </div>
</Layout>
