---
import { SignUpForm } from '../../component/Auth/SignUp.tsx'
import AuthLayout from '../../layouts/AuthLayout.astro'
---

<AuthLayout>
  <div class='flex justify-center my-40'>
    <SignUpForm client:load />
  </div>
</AuthLayout>
