---
import Layout from '../../layouts/Layout.astro'
import { SignInForm } from '../../component/Auth/SignIn.tsx'
---

<Layout>
  <div class='flex justify-center my-52'>
    <SignInForm client:load />
  </div>
</Layout>
