---
import { SignInForm } from '../../component/Auth/SignIn.tsx'
import AuthLayout from '../../layouts/AuthLayout.astro'
---

<AuthLayout>
  <div class='flex justify-center my-40'>
    <SignInForm client:load />
  </div>
</AuthLayout>
