---
import { Auth } from './Auth'
import { HeaderTitle } from './Button/HeaderTitle'
---

<header class='w-screen bg-base-300 p-4 flex justify-between'>
  <h1>
    <HeaderTitle client:load />
  </h1>
  <div class='self-center'>
    <Auth client:load />
  </div>
</header>
