---
---

<div class="bg-base-200 p-5 min-w-40">
  <div class="text-center">
    SideMenu
  </div>
  <ul>
    <li class="btn w-full justify-start">
      First
    </li>
    <li class="btn w-full justify-start">
      Second
    </li>
  </ul>
</div>