---
import { SideMenuItem } from './Button/SideMenuItem.tsx'
const links = [
  {
    id: 'be595fd7-2d5c-4999-8f9e-0aeb7d457d3f',
    title: 'Country Flag Component',
  },
]
---

<div class='bg-stone-200 p-5 min-w-40'>
  <ul>
    <li>
      {
        links.map((l) => {
          return <SideMenuItem title={l.title} id={l.id} client:load />
        })
      }
    </li>
  </ul>
</div>
