---
import Header from '../component/Header.astro'
---
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
	<body class="flex flex-col h-screen">
		<Header></Header>
		<slot />
	</body>
</html>