---
import Layout from '../../layouts/Layout.astro'
import Main from '../../component/Main.astro'
import { WebComponentsFrame } from '../../component/WebComponentsFrame'
import { Heading3 } from '../../component/Heading3.tsx'

// const { id } = Astro.params;
const title = 'Country Flag Component'
const src = 'https://maaaashi.github.io/country-flag/bundle.js'
const code = '<country-flag code="US"></country-flag>'
---

<Layout>
  <Main>
    <h2 class='font-bold text-lg'>{title}</h2>
    <Heading3>Usage</Heading3>
    <pre class='bg-base-200 p-4'>{code}</pre>
    <Heading3>Attributes</Heading3>
    <table class='w-full'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Default</th>
          <th>Controls</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>code</td>
          <td>country code</td>
          <td>JP</td>
          <td>US</td>
        </tr>
        <tr>
          <td>size</td>
          <td>size</td>
          <td>64</td>
          <td>24</td>
        </tr>
        <tr>
          <td>type</td>
          <td>draw type</td>
          <td>flat</td>
          <td>flat</td>
        </tr>
      </tbody>
    </table>
    <Heading3>Preview</Heading3>
    <WebComponentsFrame client:load src={src} code={code} />
  </Main>
</Layout>
