---
import Layout from '../../layouts/Layout.astro';
import Main from '../../component/Main.astro'
import { WebComponentsFrame } from '../../component/WebComponentsFrame';
import { Heading3} from '../../component/Heading3.tsx'

// const { id } = Astro.params;
const title = 'Country Flag Component';
const src = 'https://maaaashi.github.io/country-flag/bundle.js';
const code = '<country-flag code="TH"></country-flag>';
---

<Layout>
  <Main>
    <h2 class="font-bold text-lg">{title}</h2>
    <Heading3>Usage</Heading3>
    <pre class="bg-base-200 p-4">{code}</pre>
    <Heading3>Attributes</Heading3>
    <h4>code</h4>
    <p>TH</p>
    <Heading3>Preview</Heading3>
    <WebComponentsFrame client:load src={src} code={code} />
	</Main>
</Layout>